{% load static %}

<html>
	<head>
		<title>Task Manager: Login</title>
		<link rel="stylesheet" href="{% static 'taskmanager/base_generic.css' %}">
	</head>
	<body>
		<header>
		</header>
		<nav>
			
				<ul>
					<li><a href="{% url 'taskmanager:index' %}">Home</a></li>
					{% if authed %}
						<li><a href="{% url 'taskmanager:logout' %}">Logout</a></li>
					{% else %}
						<li><a href="{% url 'taskmanager:login' %}">Login</a></li>
					{% endif %}
				</ul>
			
		</nav>
		<br><br><br>
		<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
		<footer>
		</footer>
	</body>
</html>