{% load static %}

<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'taskmanager/base_generic.css' %}">
	</head>
	<body>
		<header>
			{% block header %}
				<!-- WIP -->
			{% endblock %}
		</header>
		<nav>
			
				<ul>
					<li><a href="{% url 'taskmanager:index' %}">Home</a></li>
					{% block nav %}
					{% endblock %}
					{% if authed %}
						<li><a href="{% url 'taskmanager:logout' %}">Logout</a></li>
					{% else %}
						<li><a href="{% url 'taskmanager:login' %}">Login</a></li>
					{% endif %}
					<li><a href="{% url 'taskmanager:addrole' %}">Assign a Role</a></li>
				</ul><br>
			
		</nav>
		<br>
		{% if authed %}
			{% block content %}
			{% endblock %}
		{% else %}
			<h1><a href="{% url 'taskmanager:login' %}">Please Log In</a></h1>
		{% endif %}
		<footer>
			{% block footer %}
				<!-- WIP -->
			{% endblock %}
		</footer>
	</body>
</html>