{% extends "taskmanager/base_generic.html" %}

{% block title %}Task: {{ task.title }}{% endblock %}

{% block content %}
{% if can_view %}
<h1>Task: {{ task.title }}</h1>
<p>Creator: {{ task.creator.name }}</p>
<p>Description: {{ task.description }}</p>
<p>Task List: <a href="/taskmanager/viewlist?name={{ task.task_list.name }}"> {{ task.task_list.name }}</a></p>
<p>Priority: {{ task.priority }}</p>
<p>Larger Goal: {{ task.larger_goal }}</p>
<p>Estimated End Date: {{ task.estimate_end_date }}</p>
{% if task.notes.count > 0 %}
	<br>
	<hr>
	<h1>Notes:</h1>
	{% for note in task.notes.all|dictsort:"id" %}
		<div class="seperated">
			{% if can_admin or user.email == note.poster %}
				<b><a href="/taskmanager/deletenote?id={{ note.id}}">Delete</a></b>
			{% endif %}
			<p>Poster: {{ note.poster.name }}</p>
			<p>{{ note.text }}</p>
		</div>
	{% endfor %}
{% endif %}
{% else %}
<b> No Access</b>
{% endif %}
{% endblock %}