.seperated {
	border: solid black 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space:nowrap;
}

li {
	float: left;
	display: inline;
}

li a {
	display: block;
	width: 90px;
	padding: 8px;
	background-color: #dddddd;
	text-decoration: none;
}

p {
	word-wrap: break-word;
}